<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link id="theme" rel="stylesheet" href="userquizD.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX" crossorigin="anonymous">
    <title>Admin Quiz Page</title>
</head>
<body>
    <div class="container">
        <header>
            <div class="home_logo">
                <a href="/user-site">
                    <p class="logo1">QuizApp..</p>
                </a>
            </div>
            <ul class="items">
                <li class="item">
                    <a href="#Home" class="item_link">Home</a>
                </li>
                <li class="item">
                    <a href="#About" class="item_link">Logout</a>
                </li>
                <li class="item">
                    <button class="toggle-button" onclick="toggleTheme()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <path d="M12 4c-4.418 0-8 3.582-8 8s3.582 8 8 8 8-3.582 8-8-3.582-8-8-8zm0 14c-3.313 0-6-2.687-6-6s2.687-6 6-6 6 2.687 6 6-2.687 6-6 6zM6 12c0-3.313 2.687-6 6-6v12c-3.313 0-6-2.687-6-6z"/>
                        </svg>
                    </button>
                </li>
                
            </ul>
        </header>

        <section class="userQuiz">
            <div class="userQuiz_top">
                <div class="userQuiz_title">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis, atque!</div>
                <ul class="userQuiz_menu">
                    <li>1 of 10</li>
                    <li class="score">score: 0</li>
                    <li class="time">Time: 4 min</li>
                </ul>
            </div>
            <div class="userQuiz_bottom">
                <form action="" method="post">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita ad ullam maiores nesciunt atque consecte</p>

                    <p class="labelOption">which of the following is right answer</p>
                    <div class="form_radio">
                        <input type="radio" name="option" value="dddfdfdddfdfd"> <span>Postkjk</span>
                    </div>
                    <div class="form_radio">
                        <input type="radio" name="option" value="dddfdfdddfdfd"> <span>Postkjk</span>
                    </div>
                    <div class="form_radio">
                        <input type="radio" name="option" value="dddfdfdddfdfd"> <span>Postkjk</span>
                    </div>
                    <button type="submit">Next</button>
                </form>
                <!-- <p class="finishedQ">Final score: 8/10</p> -->
            </div>
        </section>

    </div>
    <script>
        function toggleTheme() {
            const currentTheme = document.getElementById('theme').getAttribute('href');
            const theme = currentTheme === 'userquizC.css' ? 'userquizD.css' : 'userquizC.css';
            document.getElementById('theme').setAttribute('href', theme);
            document.cookie = `theme=${theme}; expires=Fri, 31 Dec 9999 23:59:59 GMT`;
        }

        function getCookie(name) {
            const value = `; ${document.cookie}`;
            const parts = value.split(`; ${name}=`);
            if (parts.length === 2) return parts.pop().split(';').shift();
        }

        window.onload = function() {
            const theme = getCookie('theme');
            if (theme) {
                document.getElementById('theme').setAttribute('href', theme);
            }
        }
    </script>
</body>
</html>
